
Resources-Client/Library/

Resources-Client/Logs/

Resources-Client/Temp/

Resources-Client/obj/

Resources-Client/.idea/

Resources-Simple/Logs/

Resources-Simple/Temp/

Resources-Simple/Library/

Resources-Simple/.idea/

Resources-Simple/obj/
